<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Timezone detection</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/timezone.css" type="text/css" media="screen, projection" />
</head>

<body>
	<div id="container">
		<img src="/images/timezone/LocationCapture.jpg" title=""/>
		<a href="http://m.me/251702935204907" />
	</div>
</body>

</html>
